<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tymscapemain">
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchercustom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launchercustom_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditEventActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".SelectedEventActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddEventActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SignUp"
            android:screenOrientation="portrait"/>
        <activity android:name=".Home"
            android:screenOrientation="portrait"/>
        <activity android:name=".LogIn"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"></receiver>

    </application>

</manifest>